.container {
  // border: 2px solid red;
  // height: 80vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 3rem;
    color: red;
    padding: 0.5rem;
  }

  .explain {
    font-size: 1rem;
    background-color: antiquewhite;
    padding: 10px;
    margin: 0.5rem auto;
    border: 2px solid black;
    border-radius: 10px;

    span {
      color: red;
    }
  }

  .inputs {
    margin: 0 auto;
    input {
      padding: 1rem;
      margin: 0 10px;
      width: 15rem;
      border-radius: 10px;
      font-size: 1rem;

    }
  }
  .buttons {
    margin: 0 auto;
    button {
      font-size: 1rem;
      padding: 1rem;
      margin: 10px 10px;
      width: 15rem;
      color: red;
      background-color: antiquewhite;
      border-radius: 10px;
      &:hover{
        cursor: pointer;
        background-color: rgb(222, 164, 94);
      }
    }
  }
  .results {
    margin: 0 auto;
    display: flex;
    font-size: 2rem;
    div {
      padding: 1rem;
      margin: 10px 10px;
      width: 15rem;
      resize: none;
      border-radius: 10px;
      border: 1px solid black;
      height: 400px;
      overflow-y: auto;
    }
  }
}
